* {
    font-family: sans-serif;
}

body {
    background-color: blanchedalmond;
}

h1, h2 {
    color: rgb(252, 168, 66);
}

.photo {
    height: auto;
    width: 300px;
}

.italic {
    font-style: italic;
}